.navbar-brand {
    color: maroon;
}
.card-title1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.portfolio {
    color: rgb(22, 95, 138);
}
.pro-2 {
    color: red;
}
.pro-1 {
    color: gold;
}
.port-1 {
    color: white;
}
.img-port {
   
    width: 300px;
}
.port {
    color: white;
width: 900px;
}
.container {
    

}
.port-2 {
    color: black;
}